# Copy Amazon link bookmarklet

Drag this link to your bookmark bar to save the bookmarklet:

<a href="javascript:<%- src %>">Copy Amazon link</a>

See [github.com/lowply/copy-amazon-link](https://github.com/lowply/copy-amazon-link) for more information.
